<div [formGroup]="form" fxLayout="row">
  <mat-form-field>
    <mat-select formControlName="callingCode" fxFlex="none" placeholder="Code">
      <mat-option *ngFor="let country of countries; trackBy:trackByFn" [value]="country.callingCodes[0]">
        <img class="app-country-flag-icon" [src]="country.flag"/>
        {{country.alpha2Code}} (+{{country.callingCodes[0]}})
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div fxFlex="auto" fxFlexOffset="20px">
    <mat-form-field style="width: 100%">
      <input type="tel" formControlName="telephoneNumber" matInput placeholder="Telephone">
      <mat-error>This phone number format is not recognized.</mat-error>
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
  </div>
</div>
