<div [formGroup]="form" fxLayout="column">
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="center">
    <app-named-avatar fxFlex="none">
      <app-avatar appNamedAvatarImage style="width: 100px; height: 100px"
                  [src]="user.profileImage | userProfileImagePipe"></app-avatar>
      <app-named-avatar-name *ngIf="user.firstName || user.lastName" [@heightAnimation]>
        {{user.firstName}} {{user.lastName}}
      </app-named-avatar-name>
      <app-named-avatar-description *ngIf="user.username" [@heightAnimation]>
        {{user.username}}
      </app-named-avatar-description>
    </app-named-avatar>
  </div>
  <md-input-container fxFlex="none" class="username-fields-username margin-top">
    <input appFocus formControlName="username" mdInput placeholder="Email"/>
    <md-error *ngIf="usernameControlError === 'required'">Email should be provided</md-error>
    <md-error *ngIf="usernameControlError === 'email'">Please enter valid email</md-error>
  </md-input-container>
</div>
