<div [formGroup]="form" fxLayout="column">
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="center">
    <app-named-avatar fxFlex="none">
      <app-avatar appNamedAvatarImage style="width: 100px; height: 100px"
                  [src]="user.profileImage | userProfileImagePipe"></app-avatar>
      <app-named-avatar-name *ngIf="user.firstName || user.lastName" [@heightAnimation]>
        {{user.firstName}} {{user.lastName}}
      </app-named-avatar-name>
      <app-named-avatar-description *ngIf="user.username" [@heightAnimation]>
        {{user.username}}
      </app-named-avatar-description>
    </app-named-avatar>
  </div>
  <md-form-field fxFlex="none" class="username-fields-username margin-top">
    <input formControlName="username" mdInput
           i18n-placeholder="description of the email field in the check username form|Floating placeholder of the email field, it should be short@@checkUsernameEmailFieldPlaceholder"
           placeholder="Email" appFocus/>
    <md-error
      i18n="error message for empty email|An error message for the email field in the check username form. It should be as descriptive as possible@@checkUsernameEmailFieldNoEmailError"
      *ngIf="usernameControlError === 'required'">Please enter your email</md-error>
    <md-error
      i18n="error message for invalid email|An error message for the email field in the check username form. It should be as descriptive as possible@@checkUsernameEmailFieldInvalidEmailError"
      *ngIf="usernameControlError === 'email'">Please enter valid email</md-error>
  </md-form-field>
</div>
