html,
body {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

@import '~@angular/material/theming';
@import "app/app-theme.component";

$mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 100),
  background: map_get($mat-grey, 200),
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);

@mixin main_mixin($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .app-primary {
    color: mat-color($primary) !important;
  }
  .app-accent {
    color: mat-color($accent) !important;
  }
  .app-warn {
    color: mat-color($warn) !important;
  }

  .app-background-primary {
    background-color: mat-color($primary);
  }

  .app-background-accent {
    background-color: mat-color($accent);
  }

  .app-background-warn {
    background-color: mat-color($warn);
  }
}

@mixin mat-select-typography($config) {
  .mat-select {
    font-family: mat-font-family($config);
  }

  .mat-select-trigger {
    font-size: mat-font-size($config, body-1);
  }
}

@mixin idp-theme($theme) {
  @include main_mixin($theme);
  @include app-component-theme($theme);
  @include angular-material-theme($theme);
}


// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

$ideal-app-primary: mat-palette($mat-light-blue);
$ideal-app-accent: mat-palette($mat-yellow);

// The warn palette is optional (defaults to red).
$ideal-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ideal-app-theme: mat-light-theme($ideal-app-primary, $ideal-app-accent, $ideal-app-warn);

// Include theme styles for core and each components used in your app.
// Alternatively, you can import and @include the theme mixins for each components
// that you are using.
@include idp-theme($ideal-app-theme);

.default-theme {
   $ideal-user-primary: mat-palette($mat-indigo);
   $ideal-user-accent: mat-palette($mat-pink);
   $ideal-user-warn: mat-palette($mat-red);

   $ideal-user-theme: mat-light-theme($ideal-user-primary, $ideal-user-accent, $ideal-user-warn);

   @include idp-theme($ideal-user-theme);
 }

.success-theme {
  $ideal-user-primary: mat-palette($mat-green);
  $ideal-user-accent: mat-palette($mat-pink);
  $ideal-user-warn: mat-palette($mat-red);

  $ideal-user-theme: mat-light-theme($ideal-user-primary, $ideal-user-accent, $ideal-user-warn);

  @include idp-theme($ideal-user-theme);
}

.warning-theme {
  $ideal-user-primary: mat-palette($mat-amber);
  $ideal-user-accent: mat-palette($mat-pink);
  $ideal-user-warn: mat-palette($mat-red);

  $ideal-user-theme: mat-light-theme($ideal-user-primary, $ideal-user-accent, $ideal-user-warn);

  @include idp-theme($ideal-user-theme);
}

.error-theme {
  $ideal-user-primary: mat-palette($mat-red);
  $ideal-user-accent: mat-palette($mat-pink);
  $ideal-user-warn: mat-palette($mat-red);

  $ideal-user-theme: mat-light-theme($ideal-user-primary, $ideal-user-accent, $ideal-user-warn);

  @include idp-theme($ideal-user-theme);
}

.normal-theme {
  $ideal-user-primary: mat-palette($mat-blue);
  $ideal-user-accent: mat-palette($mat-pink);
  $ideal-user-warn: mat-palette($mat-red);

  $ideal-user-theme: mat-light-theme($ideal-user-primary, $ideal-user-accent, $ideal-user-warn);

  @include idp-theme($ideal-user-theme);
}

.margin-top {
  margin-top: 16px;
}


.idp-country-flag-icon {
  width: 22px;
  height: 15px;
  object-fit: cover;
  margin-right: 10px; border: thin solid gray;
  border-radius: 2px;
}
