<div>
  <div [formGroup]="form" fxLayout="row" fxLayoutAlign="space-between">
    <md-input-container fxFlex="48%">
      <input mdInput type="password" placeholder="Password" formControlName="password" (focus)="showPasswordStrength()"
             (blur)="hidePasswordStrength()" required/>
      <md-hint align="start" *ngIf="passwordStrength !== 0">Your password is {{passwordStrengthString(passwordStrength)}}</md-hint>
      <md-error *ngIf="passwordError === 'required'">Please enter your password</md-error>
      <md-error *ngIf="passwordError === 'minLength'">Your password should be at least 6 characters long</md-error>
    </md-input-container>
    <md-input-container fxFlex="48%">
      <input mdInput type="password" placeholder="Confirm Password" formControlName="confirm" required/>
      <md-error *ngIf="confirmPasswordError === 'required'">Please confirm your password</md-error>
      <md-error *ngIf="confirmPasswordError === 'passwordMatcher'">Confirm password should match with your password
      </md-error>
    </md-input-container>
  </div>
  <div *ngIf="passwordStrengthShow" [@passwordStrength] style="margin-top: 5px;">
    <app-password-strength-indicator [password]="password" (passwordStrengthChange)="onPasswordStrength($event)">
    </app-password-strength-indicator>
  </div>
</div>
